.categoriesPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.myDiv {
  position: fixed;
  bottom: 1rem;
}

@media (min-width: 1280px) {
  .myDiv {
    position: fixed;
    bottom: 3rem;
  }
}

.dayCarousel {
  display: grid;
  padding: 1rem;
  grid-template-columns: auto auto;
  padding-bottom: 5px;
  transition: 0.3s;
  gap: 1rem;
  border-radius: 5px;
}

.nameCount {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 550px) {
  .dayCarousel {
    grid-template-columns: auto auto auto;
  }
  .section2 {
    flex: 16;
  }
}

.dayTimeIco {
  width: 50px;
  height: 50px;
}

.oneBlock {
  display: flex;
  text-decoration: none;
  color: var(--textColor);
  height: 120px;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: var(--borderMain);
  background-color: var(--sideBg);
  padding: 15px 0;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  width: 150px;
  min-width: 150px;
  transition: 0.3s;
}

.oneBlock:hover {
  border: 1px solid #3d4655;
  transition: 0.3s;
}

.header {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.pickedItem {
  color: var(--sideBg);
  border: 1px solid #3d4655;
  background-color: var(--textColor);
  transition: 0.3s;
}
