.section2 {
  flex: 93%;
  height: 93%;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--bgSecond);
  border: var(--borderMain);
}
