.backBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.backButt {
  width: fit-content;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
}

.backButt:hover {
  color: gray;
  transition: 0.3s;
}
.backBar svg {
  width: 30px;
  height: 30px;
}
