.categoryBlock {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  height: 40px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
}

.dayCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-y: hidden;
  gap: 1rem;
  width: 100%;
}

.oneBlock {
  display: flex;
  width: 234px;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  box-shadow: var(--boxShadow);
  border: var(--borderMain);
  border-radius: 5px;
  color: var(--textColor);
  background-color: var(--sideBg);
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.oneBlock svg {
  width: 20px;
}

.oneBlock:hover {
  color: var(--sideBg);
  background-color: var(--textColor);
  transition: 0.3s;
}

.imgIco {
  height: 24px;
}
