.categoryBlock {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categoryBlock h1 {
  font-size: 24px;
}

.dayCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-y: hidden;
  gap: 1rem;
}

.oneBlock {
  display: flex;
  width: fit-content;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-align: center;
  box-shadow: var(--boxShadow);
  border: 1px solid #8080806e;
  border-radius: 5px;
  color: var(--textColor);
  background-color: var(--sideBg);
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.oneBlock:hover {
  border: 1px solid #8080806e;
  color: var(--sideBg);
  background-color: var(--textColor);
  transition: 0.3s;
}

.imgIco {
  width: 24px;
}
