.simpleSelector {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

.simpleSelector select {
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--bgSecond);
  color: var(--textColor);
  border: var(--borderMain);
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.simpleSelector select option {
  font-size: 14px;
  border-radius: none;
  cursor: pointer;
  color: var(--textColor);
  box-shadow: none;
  padding: 8px;
  background-color: var(--bgSecond);
}
.simpleSelector img {
  max-width: fit-content;
}

.simpleSelector select:focus {
  border-color: var(--textColor);
}
