.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
}

.home {
  color: var(--textColor);
  text-decoration: none;
}

.navbar svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar svg:hover {
  opacity: 0.66;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .navbar svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.3s;
  }
}

.theme {
  margin: 0;
  padding: 0;
}

.logo {
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
}

.imgIco {
  width: 24px;
}
