.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.home {
  color: var(--textColor);
  text-decoration: none;
}

.navbar svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar svg:hover {
  opacity: 0.66;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .navbar svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.3s;
  }
}
