.allPage {
  width: 100%;
  max-width: 700px;
  display: flex;
  height: 100%;
  overflow: auto;
  justify-content: center;
}

.customPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95%;
  align-items: center;
}

.topicsBlock {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
}
.topicsBlock2 {
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.closeIco {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s;
  color: gray;
}
.addIco {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
  color: gray;
}

.closeIco:hover {
  transition: 0.3s;
  color: black;
}
.addIco:hover {
  transition: 0.3s;
  color: black;
}

.signNumb {
  display: flex;
  width: calc(100% - 2rem);
  justify-content: space-between;
  padding: 1rem;
}

.oneTopic {
  padding: 10px 0;
  background-color: white;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.oneTopic:last-child {
  border: none;
}
.oneTopic h4 {
  color: gray;
}

.startOrText {
  margin-top: 1rem;
}
