.inputDiv {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: var(--bgColor);
}

.inputDiv input {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--bgColor);
  border: 1px solid lightgray;
}

.inputIconLeft {
  position: absolute;
  left: 15px;
  top: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}

.inputDiv svg {
  width: 18px;
  height: 18px;
}
.inputIconRight {
  position: absolute;
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}
