.myInput {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}

.inputIconLeft {
  width: fit-content;
  cursor: pointer;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.inputDiv {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.inputDiv input {
  flex-grow: 1;
  padding: 10px 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--sideBg);
  border: var(--borderMain);
}

.inputDiv svg {
  width: 18px;
  height: 18px;
}
.inputIconRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
