.mainSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.section1 {
  flex: 7%;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  flex: 93%;
  width: 100%;
  background-color: whitesmoke;
  border-top: 1px solid lightgray;
}

.ico0 {
  opacity: 0;
}

.icoClose {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #3d4655;
  transition: 0.3s;
}
.icoClose:hover {
  color: lightgray;
  transition: 0.3s;
}

.pagesBlock {
  padding: 3px 0;
}

.normalLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.66rem;
  border-radius: 5px;
  color: inherit;
  font-weight: 500;
  margin: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.normalLink:hover {
  background-color: lightgray;
  transition: 0.3s;
  color: #3d4655;
}

.activeLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.66rem;
  padding-left: 1.5rem;
  border-radius: 5px;
  margin: 5px;
  color: #3d4655;
  background-color: lightgray;
  font-weight: 600;
  font-size: medium;
  text-decoration: none;
  transition: 0.3s;
  justify-content: space-between;
}

.textIcoBLock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menuIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.newDiv {
  background-color: white;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
  color: #3d4655;
  opacity: 0.9;
  font-weight: 500;
}
.newDiv:hover {
  opacity: 1;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.logoDiv img {
  width: 26px;
}
