.allPage {
  width: calc(100% - 1rem);
  padding: 0 0.5rem;
  height: 100%;
  overflow: hidden;
  max-height: 100%;
  padding: 0.5rem;
}

.gameClient {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.reasonBlock {
  width: fit-content;
  padding: 0 1rem;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  background-color: var(--bgColor);
  box-shadow: var(--boxShadow);
  margin-bottom: 1rem;
}

.posBlock h4 {
  font-weight: 500;
}

.reasonBlock h4 {
  font-weight: 500;
}
.buttAndName {
  width: fit-content;
  padding: 0 1rem;
  display: flex;
  height: 50px;
  margin-top: 1rem;
  background-color: var(--bgColor);
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 0.5rem;
  box-shadow: var(--boxShadow);
}

.buttAndName h4 {
  font-weight: 500;
}

.buttAndName svg {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
  cursor: pointer;
}

.icoSvg3 svg {
  width: 24px;
  height: 24px;
  color: var(--textColor);
}
.icoSvg {
  width: 24px;
}
.icoSvg2 {
  width: 24px;
  transform: scaleX(-1);
}

.userBLock {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  margin-bottom: 1rem;
}

.oneUser {
  display: flex;
  gap: 5px;
  flex: 1;
  margin: 0 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  height: 40px;
  color: black;
  border-radius: 5px;
  border: 1px solid transparent;
}

.oneUser h4 {
  font-weight: 600;
}

.icoSvg {
  color: gray;
  transition: 0.3s;
}
.icoSvg:hover {
  color: black;
  transition: 0.3s;
}

.activeUser {
  box-shadow: var(--boxShadowMain);
}

.oneUser:hover {
  transition: 0.3s;
  opacity: 0.8;
}

.gameInfo {
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  height: 60px;
  display: flex;
  justify-content: center;
  color: black;
}

.buttBlock {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-around;
}

.cardInfo {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicName {
  width: 100%;
  height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cardBlock {
  width: calc(100% - 1rem);
  height: 100%;

  display: flex;
  box-shadow: var(--boxShadowMain);
  background-color: var(--bgSecond);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.cardBlock h3 {
  max-width: 90%;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .cardBlock h3 {
    font-size: 22px;
  }

  .allPage {
    border-radius: 10px;
  }
}

.myButt {
  cursor: pointer;
  border-radius: 5px;
  height: 44px;
  flex: 1;
  margin: 0 0.5rem;
  max-width: 50%;
  color: var(--bgColor);
  background-color: var(--textColor);
  box-shadow: var(--boxShadowMain);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.myButt svg {
  width: 20px;
  height: 20px;
}

.myButt:hover {
  transition: 0.3s;
  color: #3d4655;
  background-color: lightgray;
}
.positionH {
  margin: 0.5rem;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  border-radius: 5px;
}

.myButt2 {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  border: 1px solid transparent;
  color: var(--textColor);
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 1px solid gray;
  font-weight: 500;
  transition: 0.3s;
}

.myButt2:hover {
  transition: 0.3s;
  border: 1px solid #3d4655;
  color: #3d4655;
  background-color: lightgray;
}
