.allPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  width: calc(100% - 1rem);
  padding: 0 0.5rem;
}

.categoryList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
}

.oneBlock {
  display: flex;
  width: 100%;
  max-width: 400px;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  box-shadow: var(--boxShadow);
  border: var(--borderMain);
  border-radius: 5px;
  color: var(--textColor);
  background-color: var(--sideBg);
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.oneBlock:hover {
  border: 1px solid #8080806e;
  background-color: var(--bgColor);
  transition: 0.3s;
}

.oneBlock p {
  max-width: 90%;
  color: gray;
}
