.allPage {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.categoryList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.oneBlock {
  position: relative;
  width: calc(90% - 2px);
  cursor: pointer;
  background-color: var(--bgColor);

  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.oneBlock:hover {
  border: 1px solid black;
  transition: 0.3s;
}

.btnCategory {
  border-radius: 5px;
  border: 1px solid #3d4655;
  background-color: gray;

  padding: 5px;
  transition: 0.3s;
  font-weight: 500;
}

.btnCategory:hover {
  border: 1px solid gray;
  background-color: #3d4655;
  transition: 0.3s;
}
