.appwrap {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section1 {
  font-weight: 600;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 0;
}

@media (min-width: 600px) {
  .section1 {
    height: 40px;
  }
}

.section2 {
  flex-grow: 1;
  padding: 0.5rem;
  overflow: hidden;
}

.allPage {
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--boxShadowMain);
  background-color: var(--bgSecond);
  border: var(--borderMain);
  padding: 0.5rem;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 12px solid transparent;
  border-image-source: url(http://botanicus.kiev.ua/templates/yoo_frequency/less/uikit/images/woods/panel_box_border.png);
  border-image-slice: 15;
  border-image-repeat: round; */
}
