.appwrap {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section1 {
  font-weight: 600;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
}

.section2 {
  flex-grow: 1;

  overflow: hidden;
}
@media (min-width: 600px) {
  .section1 {
    height: 40px;
  }
  .allPage {
    border-radius: 10px;

    height: calc(100% - 2px);
  }
  .section2 {
    border-radius: 10px;
    padding-bottom: 0.5rem;
  }
}

.allPage {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bgColor);
  margin: 0;
  overflow: hidden;
  /* border: 12px solid transparent;
  border-image-source: url(http://botanicus.kiev.ua/templates/yoo_frequency/less/uikit/images/woods/panel_box_border.png);
  border-image-slice: 15;
  border-image-repeat: round; */
}
