.saveBtn {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  padding: 10px 15px;
  background-color: whitesmoke;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
  align-self: center;
  outline: none;
}

.saveBtn:hover {
  background-color: lightgray;
  transition: 0.3s;
}

.icoSvg {
  color: gray;
}
